body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

/* colors, headings, buttons, spacing */
.btn-primary, .navbar-btn {
    background-color: #0089d0;
    border-color: #0089d0;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    padding: 15px 30px;
}
.btn-primary:hover {
    background-color: #ffe116;
    border-color: #ffe116;
    color: #0089D0;
}
.navbar-btn:hover {
    transform: scale(1.05);
    color: white;
}
h2 {
    color: #0089d0;
    font-weight: 600;
}
h3 {
    color: #ffe116;
    font-weight: 600;
}
section {
    padding-top: 5rem;
}
.ratio {
    aspect-ratio: 4/3;
}

/* jumbotron */
#about-us .jumbotron {
    background: url('../images/home/jumbotron-bg.jpg') center center / cover no-repeat;
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
}
#about-us .jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(at center center, #FDE28B 0%, #181818 100%);
    opacity: 0.6;
}
#about-us .container {
    z-index: 1;
}
@media (max-width: 576px) {
    #about-us h1 {
        font-size: 1.5rem;
    }
    #about-us .lead {
        font-size: 1rem;
    }
    #about-us .jumbotron {
        background: url('../images/home/jumbotron-bg--portrait.jpg') center center / cover no-repeat;
    }
}

/* navbar */
.navbar {
    background-color: #ffe116;
}
.navbar-toggler i {
    color: #0089D0;
    font-size: 1.5rem;
}
.navbar-nav .nav-link {
    color: #0089D0;
    font-weight: 600;
}
.navbar-nav .nav-link:hover {
    border-bottom: 1px solid #0089D0;
}
.nav-link.active {
    border-bottom: 1px solid #0089D0;
}

/* Our service cards */
.service-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1.5rem 1rem 3rem 1rem;
    z-index: 1;
}
.service-card::before {
    background-color: rgba(81, 100, 110, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
}

.service-card.service-card-1 {
    background: url('../images/home/service1.jpg') center center / cover no-repeat;
}
.service-card.service-card-2 {
    background: url('../images/home/kjerneboring-home.jpg') center center / cover no-repeat;
}
.service-card.service-card-3 {
    background: url('../images/home/stubbefresing-home.jpg') center center / cover no-repeat;
}
.service-card.service-card-4 {
    background: url('../images/home/other-services.jpg') center center / cover no-repeat;
}

/* Contact us */
.contact-us-wrapper {
    background: url('../images/home/contactus-bg.jpg') center center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
    display: flex;
    align-items: center;
}
.contact-us-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(1, 86, 131, 0.6);
}

/* footer */
.footer-wrapper {
    background-color: #ffe116;
    color: #625F5F;
}
.footer-heading, footer i {
    color: #0089D0;
    font-weight: 600;
}
.footer-menu a {
    color: #625F5F;
}
.footer-menu a:hover {
    color: #0089D0;
    text-decoration: none;
}