body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
/* jumbotron */
#about-us .jumbotron {
    margin-top: 86px;
    background: url('../images/home/jumbotron-bg.jpg') top center / cover no-repeat;
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
}
#about-us .jumbotron:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(at center center, #FDE28B 0%, #181818 100%);
    opacity: 0.6;
}
#about-us .container {
    z-index: 1;
}
@media (max-width: 576px) {
    #about-us h1 {
        font-size: 1.5rem;
    }
    #about-us .lead {
        font-size: 1rem;
    }
}
/* colors, headings */
.btn-primary {
    background-color: #0089d0;
    border-color: #0089d0;
}
h2, h3 {
    color: #0089d0;
}

/* navbar */
.navbar {
    background-color: #ffe116;
}
.navbar-toggler i {
    color: #0089D0;
    font-size: 1.5rem;
}
.navbar-nav .nav-link {
    color: #0089D0;
    font-weight: 600;
}